.movies-show-wrapper {
    gap: 2rem;
    display: flex;
    margin: 40px 0;
    overflow: hidden;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #2d3250;
    -webkit-border-radius: 10px;
    height: calc(100vh - 54px - 80px);

    .left {
        flex: 1;
        position: relative;
        max-width: fit-content;
    }

    .poster {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .heart {
        right: 0;
        width: 3rem;
        cursor: pointer;
        padding: 0.5rem;
        position: absolute;
        background-color: #fff;
        border-radius: 0 0 0 0.5rem;
        -o-border-radius: 0 0 0 0.5rem;
        -ms-border-radius: 0 0 0 0.5rem;
        -moz-border-radius: 0 0 0 0.5rem;
        -webkit-border-radius: 0 0 0 0.5rem;
    }

    .right {
        flex: 2;
        gap: 2rem;
        display: flex;
        overflow: auto;
        flex-direction: column;
        padding: 1rem 1rem 1rem 0;

        .major,
        .minor {
            gap: 1rem;
            display: flex;
            padding: 1rem;
            border-radius: 10px;
            flex-direction: column;
            -o-border-radius: 10px;
            -ms-border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }

        .major {
            background-color: #fff;

            h1 {
                padding-bottom: 1rem;
                border-bottom: 2px solid #2d3250;
            }

            h2 {
                font-weight: 500;
                font-size: 1.2rem;
            }
        }

        .minor {
            color: #fff;
            background-color: #7077a1;

            * {
                text-transform: capitalize;
            }

            .all-chips {
                gap: 0.5rem;
                display: flex;
                overflow: auto;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
            }

            .chip {
                white-space: nowrap;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                background-color: #f6b17a;
                -webkit-border-radius: 0.5rem;
            }

            ::-webkit-scrollbar {
                height: 8px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                border-radius: 8px;
                background: #2d3250;
                -o-border-radius: 8px;
                -ms-border-radius: 8px;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
            }
        }
    }
}
