/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  font-family: "Quicksand", sans-serif;
  -ms-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
}

body {
  position: relative;
  background-color: #eee;

  .back-btn {
    left: 30px;
    top: 100px;
    width: 50px;
    color: #fff;
    display: flex;
    font-size: 25px;
    position: fixed;
    font-weight: bold;
    aspect-ratio: 1/1;
    border-radius: 50%;
    align-items: center;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    justify-content: center;
    -moz-border-radius: 50%;
    background-color: #333333;
    -webkit-border-radius: 50%;
  }

  .wrapper {
    width: 86.67%;
    margin: 0 auto;
    max-width: 90rem;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.f-w-500 {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.object-fit-contain {
  object-fit: contain !important;
}

@import "navbar";
@import "movies/index";
@import "movies/show";
