.movies-wrapper {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 50px auto;
    width: fit-content;

    .movie-card {
        flex: 1 1;
        padding: 8px;
        display: flex;
        margin: 0 auto;
        min-width: 300px;
        max-width: 300px;
        border-radius: 8px;
        flex-direction: column;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        -moz-border-radius: 8px;
        border: 2px solid #333;
        background-color: #fff;
        -webkit-border-radius: 8px;

        *:not(img) {
            text-transform: capitalize;
        }

        img {
            width: 100%;
            display: block;
            object-fit: cover;
            aspect-ratio: 2 / 3;
            border-radius: 8px 8px 0 0;
            -o-border-radius: 8px 8px 0 0;
            -ms-border-radius: 8px 8px 0 0;
            -moz-border-radius: 8px 8px 0 0;
            -webkit-border-radius: 8px 8px 0 0;
        }

        .movie-details {
            flex: 1 1;
            gap: 0.5rem;
            padding: 8px;
            display: flex;
            flex-direction: column;
            border-radius: 0 0 8px 8px;
            -o-border-radius: 0 0 8px 8px;
            justify-content: space-between;
            -ms-border-radius: 0 0 8px 8px;
            -moz-border-radius: 0 0 8px 8px;
            -webkit-border-radius: 0 0 8px 8px;
        }
    }

    .pagination-buttons {
        gap: 2rem;
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        justify-self: flex-end;
        justify-content: flex-end;

        a {
            color: white;
            font-weight: bold;
            padding: 1rem 1.5rem;
            text-decoration: none;
            border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            text-transform: uppercase;
            -ms-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            background-color: #ea7c5b;
            -webkit-border-radius: 0.5rem;
        }

        a:hover {
            cursor: pointer;
        }
    }
}
