<nav class="topnav">
    <div>
        <%= link_to("Movies Home", movies_path, class: (current_page?(movies_path) || current_page?("/") ? 'active' : '' )) %>
    </div>
    <div class="auth-btn-wrapper">
        <% if user_signed_in? %>
            <%= button_to("Sign Out", destroy_user_session_path, method: :delete) %>
        <% else %>
            <%= link_to("Sign In", new_user_session_path) %>
        <% end %>
    </div>
</nav>